 <head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
        <% include ../partials/dashheader %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
            
                <div class="scoreboard" id="jumbotron">
                </div>
                
            </div>
            
        </div>
    </main>