
<body>
<div id = "center">

<form enctype="multipart/form-data" id = "form_id" method = 'post' action='/admin'>

<p>Enter News here...<textarea name="news_feed" ></textarea></p>
<input class = "button_class" type = "submit" value  = "Save">
<input class ="cancel" type = "button" value  = "Cancel" data-dismiss="modal">


</form>
</div>
</body>