<form>
<input type="hidden" id = "match_id" value= "<%= matchId %>">
<label>First Player</label><input type="text" class="text_field" placeholder="Enter Strike batsman name"></br>
<label>First Player</label><input type="text" class="text_field" placeholder="Enter Runner up name"></br>
<label>First Player</label><input type="text" class="text_field" placeholder="Enter First blowler name"></br>
</form>