<form>
<input type="hidden" id = "match_id" value= "<%= matchId %>">
<label>First Batsman</label><input type="text" class="text_field" placeholder="Enter Strike batsman name"></br>
<label>Second Batsman</label><input type="text" class="text_field" placeholder="Enter Runner up name"></br>
<label>First Bowler</label><input type="text" class="text_field" placeholder="Enter First bowler name"></br>
</form>