<!-- views/partials/header.ejs -->

<nav class="row navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            
        </div>
        <ul class="row nav navbar-nav">
            <li><input class = "button_class" type = "button" id = "dashboard" value  = "Home"></li>
			<li><input class = "button_class" type = "button" value  = "ScoreBoard" id = "dash_admin"></li>
			<li><input class = "button_class" type = "button" value  = "Playing Team" id = "playing_team"></li>
			<li><input class = "button_class" type = "button" value  = "Add Team" id = "add_team" 
			data-toggle="modal" data-target="#myModal"></li>
			<li><input class = "button_class" type = "button" value  = "Match Setting" id = "match_setting"></li>
       		 </ul>
    </div>
</nav>
