<!-- views/partials/header.ejs -->
<div class="row" id="headerdiv">
<nav class="row navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="row nav navbar-nav">
            <li><input class = "button_class" type = "button" id = "dashboard" value  = "Dashboard"></li>
			<li><input data-backdrop="static" data-keyboard="false" class = "button_class"
			 type = "button" value  = "ScoreBoard" id = "dash_admin"  data-toggle="modal" data-target="#myModal"></li>
			<li><input class = "button_class" type = "button" value  = "Match Setting" id = "match_setting"></li>

			<li><input class = "button_class" type = "button" value  = "Add Team" id = "add_team"></li>
			<li><input class = "button_class" type = "button" value  = "Tournament Setting" id = "tournament_setting"></li>
            <li><input class = "button_class" type = "button" value  = "Logout" id = "logout"></li>
       		 </ul>
    </div>
</nav>
</div>
