<!-- views/partials/header.ejs -->
<div id="headerimg">
</div>
<div class="row" id="headerdiv">
<nav class="row navbar" role="navigation">
   <div class="bs-example">

          <ul class="nav nav-tabs" id="menuline">
            <li class=" vrline dashboard"><a  href="#" id ="dashboard" class="dashboard" >Dashboard</a></li>
			<li class=" vrline dash_admin"><a href="#" data-backdrop="static" data-keyboard="false" id = "dash_admin"  >ScoreBoard</a></li>
			<li class=" vrline"><a href="#" id = "match_setting">Match Setting</a></li>
			<li class=" vrline"><a  href="#"  id = "add_team">Add Team</a></li>
			<li class=" vrline"><a  href="#" id = "tournament_setting">Tournament Setting</a></li>
			<li class=" vrline"><a  href="#"  id = "news_feed">Add News Feed</a></li>
            <li class=" vrline"><a  href="#" id = "logout">Logout</a></li>
       		 </ul>
</div>
   
       
   
</nav>
</div>
