<!-- views/partials/header.ejs -->
<div id="headerimg">
</div>
<div class="row" id="headerdiv">
<nav class="row navbar" role="navigation">
   
   <div class="bs-example">

          <ul class="nav nav-tabs" id="menuline">
            <li class="active vrline"><a  href="#" id = "dashboard" >Dashboard</a></li>
			<li class=" vrline"><a href="#" data-backdrop="static" id = "dash_admin"  data-target="#myModal">ScoreBoard</a></li>
			<li class=" vrline"><a href="#" id = "match_setting">Match Setting</a></li>
			<li class=" vrline"><a  href="#"  id = "add_team">Add Team</a></li>
			<li class=" vrline"><a  href="#" id = "tournament_setting">Tournament Setting</a></li>
            <li class=" vrline"><a  href="#" id = "logout">Logout</a></li>
       		 </ul>
</div>
   
       
   
</nav>
</div>
