<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            
        </div>
        <ul class="nav navbar-nav">
            <li>
				<input class = "button_class" type = "button" id ="home" value  = "Home"></li>
            <li><input class = "button_class" type = "button" id ="add_new_player" value  = "Register as Player" ></li>
			<li><input class = "button_class" type = "button" value  = "Player" id = "list_view"></li>
			<li><input class = "button_class" type = "button" data-toggle="modal" data-target="#myModal" value  = "Admin" id = "admin"></li>
       		 </ul>
    </div>
    
</nav>
