<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href = '/'>
				<input class = "button_class" type = "button" value  = "Home"></a></li>
            <li><a hregggf = '/add'>
				<input class = "button_class" type = "button" id = "add_new" value  = "Add New" ></a></li>
			<li><a hrssssef = '/list'>
				<input class = "button_class" type = "button" value  = "Show all" id = "list_view"></a></li>
				<li><a hrsssef = '/admin'>
				<input class = "button_class" type = "button" data-toggle="modal" data-target="#myModal" value  = "Admin" id = "admin"></a></li>
       		 </ul>
    </div>
</nav>
