body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container {
	height:50px;
	color:#E4EDF4;
	border:1px solid #E4EDF4;
	background-color:#e3e6f2;

}
#center {
		height:500px;
	color:#c41d1d;
	background-color:#e4edf4;
}
.button_class {
		margin-top:10px;
	margin-left:100px;
}
#form_id {
	width : 300px;
	float:left;
	margin-left:100px;
}
table, th{
    border: 1px solid black;
    text-align: left;
}
#header {
	border:3px solid red;
	width:100px;
	height:100px;
}