body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container {
	height:50px;
	color:#E4EDF4;
	border:1px solid #E4EDF4;
	background-color:#e3e6f2;

}
#center {
		min-height:200px;
	color:#c41d1d;
	background-color:#e4edf4;
}
#playeradd{
	margin-top:30px;
	margin-bottom:10px;
	margin-right : 10px;
}
#register_div {
	min-height:300px;
	color:#c41d1d;
	background-color:#e4edf4;
}
.button_class {
		margin-top:10px;
	margin-left:100px;
}
.label_class{
    margin-bottom:5px;
	margin-right:5px;
}
.field_class{
	
	margin-bottom:5px;
	margin-right:10px;

}
#form_id {
	width : 100%;
	float:left;
	margin-left:30px;
	margin-top:20px;
}
/* table, th{
    border: 1px solid black;
    text-align: left;
} */
#header {
	border:3px solid red;
	width:100px;
	height:100px;
}


#bowler,#batsman{
	min-height:150px;
	padding:0px;
	padding-left:5px;
	border-radius: 3px 3px 3px 3px;
}
#batting,#bowling{
	min-height:350px;
	padding:0px;
	padding-left:5px;
}

#over,.run{
	height:50px;
	margin-bottom: -10px;
	padding-bottom:5px;
}
h4{
	float:left;
}
.summary h5{
	margin-bottom:-10px;
}
.player{
	background-color:#E0E2EC;
	margin-bottom:15px;
	margin-top: 20px;
	padding-left:5px;
	min-height:50px;
	border-radius: 3px 3px 3px 3px;
}
#score{
	min-height:180px;
	padding:0px;
}
#scoringdiv{
	background-color:#B9BED5;
	
}
.player_btn{
	height:50px;
	width:85px;
	margin-left:2px;
	margin-bottom:5px;
}

.over_btn{
	height:40px;
	width:40px;
	margin-top: 5px;
	
}
.label_btn{
	float:left;
	width:80px;
	height:40px;
	margin-right:30px;
	margin-top: 5px;
	
}
#score_table th,td{
  
	margin-right:10px;
	
	width:90px;
}
tr ,td{
	border:1px black;
}
#summary{
	height:400px;
}
.runs_given,.bowler_name{
	width:100px;
	margin-top:5px;
}
.green
{
    background-color:green;
}
.red
{
    background-color:red;
}
.team_name {
	margin-left:160px;
}
#match_setting {
	padding:0px;
	padding-left:5px;
}
#setting_save ,.update,#update_setting_btn,#team1_save,#team2_save {
	margin-top:60px;
}
.center_postion {
	text-align:center;
	margin-left:35%;
	margin-top:5px;
	background-color:#778280;

}
.display_team_name {
	margin-left:100px;
}
#setting_update {
	float:right;
	margin-right:20px;
	background-color:red;
}
.btn_class{
	margin-top:60px;
}
#update_setting_btn {
	margin-left:50%;
}
#team_A_select {
	float:left;
	margin-top:10px;
}
#team_B_select {
	margin-top:10px;
	float:left;
}
#team1,#team2{
	float:left;
	width:100%;
}
.teamlist,.teamvalue{
	float:left;
	width:15%;
	
}
.teamvalue{
	float:left;
	margin-left:10px;
	padding-top:2%
}
#team_name_save {
	margin-bottom:20px;
	margin-top:10%;
}
.accordion-fold{
	display:none;	
}

#settings-box-container .settings-box {
  border: 1px solid #AAAAAA;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 10px;
	background-color:#F8F8F8;
}

.accordion-toggle,.scroll_Availability,.closed{
	background-color:#E0E2EC;
	width:100%;
	border-radius: 3px 3px 3px 3px;
}
.start_match_title{
	margin-bottom:10px;
}
.text_field{
	margin-left:10px;
	margin-bottom:10px;
}
.error_class{
	padding:0px;
	
}
#addplayertbl_div{
	width:100%;
}