<body>
<div id = "center" class="col-sm-12">

<form enctype="multipart/form-data" id = "form_id" method = 'post'>
<label class="label_class">First Name</label><input name = "f_name" id = "f_name" class = "field_class" type = "text" >
<p>Last Name<input  name = "l_name" id = "l_name" class = "button_class" type = "text" ></p>
<p>Phone<input name = "phone" id = "phone" class = "button_class" type = "text" ></p>
<p>Email Id<input name = "email" id = "email" class = "button_class" type = "text" ></p>
<p>Address<input name = "address" id = "address" class = "button_class" type = "text" ></p>
<input name = "id" class = "button_class" type = "hidden">
<input class = "button_class" type = "submit" id="playeradd" value  = "Save">

</form>
</div>
</body>