 <head>
    <% include ../partials/head %>
</head>
<body class="container" id="backgrnd">
<header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron" id="jumbotron">
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well player_list">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div>
        </div>
    </main>
     <footer>
        <% include ../partials/footer %>
    </footer>
 
 <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
            </div>
           
        </div>
    </div>
</div>
 