<body>
<table style="width:100%">
  <tr>
	  <th>Sl No</th>
	  <th>First Name</th>
	  <th>Last Name</th>
	  <th>Team Name</th></tr>
 <tr>
<% for(var i=0; i < title.length; i++) { %>
   <tr>
     <td><%= i+1 %></td>
     <td><%= title[i].first_name %></td>
      <td><%= title[i].last_name %></td>
     <td>Team Name will show</td>
   </tr>
<% } %>

</table>
</body>